## this is the skeleton of all pages on in this app - it defines the basic html tags

## imports
<%! from django_mako_plus import get_template_css, get_template_js %>


<!DOCTYPE html>
<html>
  <meta charset="UTF-8">
  <head>

    <title><%block name="title">Digital Bookshelf</%block></title>

    ## add any site-wide scripts or CSS here; for example, jquery:
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.js"></script>

		<!-- Optional: Reflection -->
		<script type="text/javascript" src="${ STATIC_URL }homepage/media/reflection.js"></script>

		<!-- interpolate, depends on jQ 1.8.0+ -->
		<script src="${ STATIC_URL }homepage/media/jquery.interpolate.min.js"></script>

		<!-- Coverflow -->
		<script src="${ STATIC_URL }homepage/media/jquery.coverflow.js"></script>

    <script src="${ STATIC_URL }homepage/media/jquery.touchSwipe.min.js"></script>
    <script src="${ STATIC_URL }homepage/media/dist/semantic.min.js"></script>


    ## render the css with the same name as this page
    ${ get_template_css(self, request, context) }
    <!-- Favicon -->
    <link rel="shortcut icon" href="${ STATIC_URL }homepage/media/" />
    <link rel="stylesheet" type="text/css" href="${ STATIC_URL }homepage/media/dist/semantic.min.css">
  </head>
  <body>

    <div id="main_menu">
        <%block name="main_menu">
          <div class="ui stackable menu">
            <div class="item">
              <i class="big book icon"></i>
            </div>
            <a class="item">Books</a>
            <div class="right menu">
              <div class="item">
                <div class="ui icon input">
                  <input type="text" placeholder="Search...">
                  <i class="search link icon"></i>
                </div>
              </div>
              <a class="ui item">
                Sign In
              </a>
              <a class="ui item">
                Sign Up
              </a>
            </div>
        </div>
        </%block>
    </div> <!--main_menu-->

    <%block name="content">

    </%block>

    ## render the JS with the same name as this page
    ${ get_template_js(self, request, context) }

  </body>
</html>
