<%inherit file="base.htm" />

<%block name="content">
  <div class="clearfix"></div>

  <div class="container">
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-10"><h1 id="action-call" class="text-center dark">An Online Bookshelf for Kids</h1></div>
      <div class="col-sm-1"></div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-4"></div>
      <div id="action-btn" class="col-sm-4"><button class="btn btn-info btn-lg">Go Read Books</button></div>
      <div class="col-sm-4"></div>
    </div>
  </div>

</%block>
